<!-- <form action="post" #f="ngForm" (ngSubmit)="mapForm(f)">
    <h1>Map Settings</h1>
    
    <label>Cluster Raduis</label><input type="text" [(ngModel)]="thisMap.clusterRaduis" >
    <label>Geo Fencing</label><br>

    <h1>Duplication Event Configuration</h1>
    <label>Time Buffer</label><input type="text" [(ngModel)]="thisMap.clusterRaduis" >
    <label>Location Buffer</label><input type="text" [(ngModel)]="thisMap.clusterRaduis" ><br>

    <h1>End Event Duration</h1>
    <label>Duration</label><input type="text" [(ngModel)]="thisMap.clusterRaduis" ><br>

    <label for="">Map Type</label>
    <select name="" id="">
    <option value="" [(ngModel)]="thisMap.clusterRaduis" >Volvo</option>
    </select>
    <br>

    <select name="" id="">
    <option value="" [(ngModel)]="thisMap.clusterRaduis" >Volvo</option>
    </select>   
    <br>

    <input type="reset" value="Reset">
    <input type="submit"   value="Save">
    <input type="submit" value="Cancel">

</form>
 -->
